body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../images/background.jpg');
  background-color: #828282;
}

.all{
  margin: 50px;
  padding: 50px;
  background-color: whitesmoke;
  color: #6b6b6b;
  border-radius: 5px;
}

.contact{
  margin: 50px;
  background-color: whitesmoke;
  color: #6b6b6b;
  border-radius: 5px;
}

.contact_details{
  background-image: url('../images/telephone.jpg');
  background-size: cover;
  color: whitesmoke;
  padding: 50px;
  padding-top: 150px;
  text-align: center;
}

.contact_form {
  padding: 50px;
}

.tele {
  width: 100%;
  height: auto;
}

.home {
  text-align: center;
  width: 100%;
  margin: auto;
}

.home p, .home h1 {
  color: whitesmoke;
}

.arrow {
  float: right;
  transform: skewY(10deg) rotate(20deg);
}

.exp{
  max-width: 450px;
  width: auto;
  margin: auto;
}

a{
  text-decoration: none;
  color: #6b6b6b;
}

a:hover{
  color: black;
}

.login {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.dashboard{
  width: 100%;
  margin: auto;
}

.nomargin {
  margin: 0;
}