.navbar .container-fluid ul li a:hover,
.navbar .container-fluid ul li .dropdown-toggle:hover {
    color: black;    
}

.bottom_bar{
    text-align: center;
    background-color: whitesmoke;
    bottom: 0;
    width: 100%;
    margin: auto;
}

.bottom_bar nav a{
    color: #6b6b6b;
    text-decoration: none;
}

.bottom_bar nav a:hover,
.bottom_bar nav a:active{
    color: black;
}

footer{
    color: #6b6b6b;
}